<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Knewave&family=Rubik+Maze&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="show-day">
    <h1 id="day-header">Day <%= day %> </h1>











    <a id="add-event-link"href="/trips/<%= trip._id %>/day/events/new">Add An Event</a>
    <a id="back-to-trip" href="/trips/<%= trip._id %>">Trip Navigation</a>
</body>
</html>