.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
/* Home Page:
*/
.log-in-page {
    background-image: url('https://media3.giphy.com/media/l46Cx5kVr1DRtfV8Q/giphy.gif?cid=ecf05e47k4cjmlednds57s4ellydtuy3zacmqdl4z4q7mg0o&rid=giphy.gif&ct=g');
    background-size: cover;
    height: auto;
}
.project-title {
  color: black;
  font-family: 'Carter One', cursive;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%
}
.login {
  color: black;
  font-family: 'Carter One', cursive;
  font-size: 60px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
.welcome-title {
  color: black;
  font-family: 'Carter One', cursive;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%
}
.logout {
  color: black;
  font-family: 'Carter One', cursive;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-trips {
  color: black;
  font-family: 'Carter One', cursive;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .project-title {
    font-size: 45px;
  }
  .login {
    font-size: 35px;
  }
}
/* MY TRIPS PAGE
*/ 
.my-trips-header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.navbar {
  display: flex;
  justify-content: center;
}
.trip-card {
  display: inline-block;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
}
.trip-actions {
  display: flex;
  justify-content: space-evenly;
}
/* NEW TRIP FORM 
*/
#new-trip-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.lead {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-lead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.new-trip-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}
.add-new-trip {
  width: 40vw;
}
.blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

/* SHOW TRIP PAGE
*/ 

.trip-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
#no-itineraries {
  margin-top: 10%;
}
.no-itinerary-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
}
.no-itinerary-back {
  margin-right: 2%;
}
.no-itinerary-new {
  margin-left: 2%;
} 
.itinerary-nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
.itinerary-back {
  margin-right: 2%;
}
.itinerary-new {
  margin-left: 2%;
}
#day-cards {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 450px;
}

/* SHOW DAY PAGE
*/

.day-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.event {
  margin-top: 5%;
}
.event-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

/* NEW PLANS PAGE
*/ 
.create-event-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.add-events-form {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 600px;
}
.submit-event {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

/* NEW DAY PAGE
*/ 
.new-itinerary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.itinerary-info {
  margin: 0 auto;
  margin-top: 7%;
  max-width: 600px;
}
.submit-day {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* BODIES
*/ 
