.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
/* Home Page:
*/
#log-in-page {
    background-image: url('https://media3.giphy.com/media/l46Cx5kVr1DRtfV8Q/giphy.gif?cid=ecf05e47k4cjmlednds57s4ellydtuy3zacmqdl4z4q7mg0o&rid=giphy.gif&ct=g');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

#project-title {

  color: black;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;
}

#login {

  color: black;
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;
}
a {
  text-decoration: none;
}

/* MY TRIPS PAGE
*/ 
.my-trips-header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.navbar {
  display: flex;
  justify-content: center;
}
.trip-card {
  display: inline-block;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
}
.trip-actions {
  display: flex;
  justify-content: space-evenly;
}

/* NEW TRIP FORM 
*/
#new-trip-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.lead {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-lead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.new-trip-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}
.add-new-trip {
  width: 40vw;
}
.blockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}




