.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
/* Home Page:
*/
#log-in-page {
    background-image: url('https://media3.giphy.com/media/l46Cx5kVr1DRtfV8Q/giphy.gif?cid=ecf05e47k4cjmlednds57s4ellydtuy3zacmqdl4z4q7mg0o&rid=giphy.gif&ct=g');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

#project-title {

  color: black;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;
}

#login {

  color: black;
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;
}

#home-nav {

  font-family: 'Bungee Shade', cursive;
  font-size: 40px;

}

#welcome-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;

}


#logout {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 575px;
}

#my-trips {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 250px;
}

/* My Trips Page
*/ 

#my-trips-header {
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#my-trips-page {
  background: url(https://images6.alphacoders.com/982/thumb-1920-982770.png);
  background-size: 107%;
}

#create-trip-link {
  font-family: 'Bungee Shade', cursive;
  font-size: 15px;
  color:  white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.my-trips {
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#trip-link {
  color: white;
}

#delete-trip-form {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 1px;
}

#delete-trip-button {
  font-family: 'Bungee Shade', cursive;
  font-size: 10px;
  color:  black;
  border-radius: 2px;
}

#my-trips-logout {
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  bottom: 245px;
  

}

/* New Itinerary Form Page
*/

#new-itineraries-page {
  background-image: url(https://images8.alphacoders.com/116/thumb-1920-1164607.png);
  background-size: 107%;
}

#new-itinerary-header {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20px;
}

#day-form {
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 250px;
}

#plan-day-button {
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 300px;
  left: 575px;
}


/* New Trip Form Page
*/ 

#new-trip-form {
  background: url(https://images7.alphacoders.com/115/thumb-1920-1152780.png);
  background-size: 107%;
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
}

#new-trip-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  position: relative;
  top: 100px;
}

#add-new-trip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 200px;
}

#destination {
  color: white
}

#year {
  color: white;
  position: relative;
  left: 50px;
}

#submit-trip {
  font-family: 'Bungee Shade', cursive;
  border-radius: 2px;
  position: relative;
  left: 100px;
}









/* Show Trip Page
*/ 

#show-trip-page {
  background: url(https://wallpaperaccess.com/full/2593301.jpg);
  background-size: cover;
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 20px;
}

#trip-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#itinerary-header {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#no-itinerary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 515px;
}

#add-itinerary {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 475px;
}

#individual-days {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20px;
}

#show-trip-return {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 480px;
}

#see-itinerary {
  color: #CCB6EC;
}



/* Day Show Page
*/

#show-day {
  background-image: url(https://images5.alphacoders.com/116/thumb-1920-1164606.png);
  background-size: 107%;
}

#day-header {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#add-event-link {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 600px;
}

#back-to-trip {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 615px;
}



/* New Events Form Page
*/

#new-events-form {
  background-image: url(https://64.media.tumblr.com/be37681517ac3ba3031df94cb45711df/tumblr_puajrkcXxv1tgzy56o1_1280.gifv);
  background-size: 107%;

}

#create-event-header {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 50px;
}

#add-events-form {
  font-family: 'Bungee Shade', cursive;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 425px;
}

#time-label {
  
}

#time {
  position: relative;
  left: 25px;
}

#event-label {
  position: relative;
  left: 50px;
}

#event {
  position: relative;
  left: 55px;
}

#submit-event {
  font-family: 'Bungee Shade', cursive;
  color: black;
  position: relative;
  left: 75px;
}











