<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Knewave&family=Rubik+Maze&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body id="my-trips-page">
    <h1 id="my-trips-header">My Trips</h1>
    <a href="/trips/new">Create a New Trip</a>
    <br> 
    <% trips.forEach(trip => { %>
        <section id="trip-show-page">
            <div class="my-trips">
                <div><a href="/trips/<%= trip._id %>"><%= trip.destination %> <%= trip.year %></a></div>
            </div>
        </section>
    <% }) %>



</body>
</html>