<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Trip</h1>
    <form id="add-new-trip" action="/trips" method="POST">
        <label>Destination:
            <input type="text" name="destination">
        </label>
        <label>Year:
            <input type="datetime-local" name="year">
        </label>
        <input type="submit" value="Add Trip">
    </form>
</body>
</html>