<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trip Itinerary</h1>

    <label>Itinerary:
    <% if (trip.length) { %>
        <% trip.forEach(t => { %>
         <div><%= t.itinerary._id %></div>
        <% }) %>

    <% } else { %>
    <h5>No Itineraries Yet! Would you like to add one?</h5>
    <% } %>
    </label>
    
    <a href="/trips/<%= trip._id %>/itineraries/new">Add an Itinerary</a>
</body>
</html>